.div-login {
  align-items: center;
  /* background-image: url('https://images2.imgbox.com/6c/d2/VHoj1nci_o.png'); */
  background-image: url('https://images2.imgbox.com/c3/7b/b5WUJ9Gn_o.png');
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}

form input {
  background-color: #dca06e;
  border: none;
  border-radius: 20px;
  color: #341d0a;
  font-family: Didact Gothic , sans-serif;
  font-size: 24px;
  margin: 10px;
  padding: 8px;
  width: 280px;
}

form input::placeholder {
  color: #341d0a;
  font-family: Didact Gothic , sans-serif;
  font-size: 24px;
  opacity: 0.6;
}

.img-button {
  background-color: #341d0a;
  border: none;
  border-radius: 50px;
  width: 70px;
}

form button:disabled {
  opacity: 0;
}

.logo {
  width: 200px;
}
